body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-part { color: #2E2F42;
}

.nav-list { display: flex;
    gap: 40px;

}

.nav-link { color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.current { 
    position: relative;
    color: #404BBF;
}
.current::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
background-color: #404BBF;
border-radius: 2px;
height: 4px;
width: 100%;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.adress-list {
    display: flex;
    gap: 40px;
}

.address-link { color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}




.hero { padding-bottom: 120px;
    background: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}



.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    
}

.hero-btn-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn-main:hover,
.hero-btn-main:focus {
    background-color: #404BBF;
}

.features { padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


.features-list {
    display: flex;
    gap: 24px;

}

.features-item { width: calc((100% - 72px) / 4);
}

.img {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.taste { 
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.taste-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.taste-list { 
    display: flex;
    gap: 24px;
}

.taste-item { 
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 

}

.name { padding: 32px 0;

}

.taste-image { display: block;
}

.taste-subtitle { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    
}

.taste-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-align: center;
   color: #434455;
}

.social-media-list {
    display: flex; 
    justify-content: center;
    gap: 24px;
}

.social-media {
    width: 40px;
    height: 40px;
}

.social-media-item {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.social-media-item:hover {
    background-color: #404bbf; 
}

.social-media-item:focus {
    background-color: #404bbf; 
}

.social-media-svg {
    fill: #f4f4fd;
}
.tastee {  padding-top: 120px;
    padding-bottom: 120px;
}

.tastee-title { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.tastee-list { display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.tastee-item { width: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.image-image {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.images:hover .text {
    transform: translateY(0%);
    background: #4d5ae5;
}

.images {
    position: relative;
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
}
.image {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.tastee-image { display: block;
     
}

.text {
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.tastee-subtitle { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.tastee-text { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 16px;
    margin-bottom: 8px;
}



.footer { 
    background: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-p {
    margin-right: 120px;

}






.logoo {  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px; 
}

.logoo-part {
    color: #f4f4fd;
}

.footer-text { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.socialmedia {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom:  16px;

}

.socialmedia-list {
    display: flex;
    gap: 16px;
}

.socialmedia-item {
    width: 40px;
    height: 40px;
}

.socialmedia-item-a:hover { background-color: #31d0aa; 

}

.socialmedia-item-a:focus { background-color: #31d0aa; 

}
.socialmedia-item-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.socialmedia-item-svg {
    fill: #f4f4fd;
}


.container-form {
    margin-left: auto;
}
.p-form {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #ffffff;
}

.form-form {
    display: flex;
    gap: 24px;

}

.input-email {
    width: 264px;
    height: 40px; 
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.E-mail {
    color: #ffffff;
}

.button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.button-class {
    margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    padding: 72px 24px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
    fill:#FFFFFF;
}

.p-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99;
    display: block;
    margin-bottom: 4px; 
}

.input-icon {
    position: relative;
}

.input-class {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent; 
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.input-class:focus {
    border-color: #4D5AE5;
    
}
.input-class:focus + .svg-icon {
    fill: #4D5AE5;
}
.svg-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.modall-form {
    margin-bottom: 16px;
}

.textarea-class {
    width: 100%; 
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    display: block;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent; 
    padding: 8px 16px; 
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.textarea-class:focus {
    border-color: #4D5AE5; 

}

.chekbox-class {
    margin-bottom: 24px;
}



.label-user-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99; 
}

.span-user-privacy {
    cursor: pointer;
    width: 16px; 
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    fill: transparent; 
}

.chekbox-input:checked +.label-user-privacy > .span-user-privacy {
    background-color:  #404bbf; 
    border: none;
    fill: #F4F4FD; 
}

     


.a-privacy-policy {
    color: #4d5ae5; 
}

.button-button {
    border-radius: 4px;
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    border: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 24px 96px 24px 95px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    
}


